<div class="signup"><form action="/users" method="post">
    <br><label for="first_name">First Name:</label>    
    <input type="text" id="first_name" name="first_name">

    <br><label for="username">Username:</label>    
    <input type="text" id="username" name="username">
    <br><label for="password">Password:</label>  
    <input type="password" id="password" name="password">
    <br><input type="submit" class="button_" value="Sign Up">
</form>
<% if @user && @user.errors.any? %>
        <% @user.errors.full_messages.each do |e| %>
            <p class="danger"><%= e %></p>
            <% end %>
            <% end %>

<p><a href="/">Back</a></div>