html{ 
    background-color: #c8dad3;

}


.event{
    background-color: #f2f6f5;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;

}
.my_events{
    background-color: #f2f6f5;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;

}
.welcome  {

    background-color: #f2f6f5;
    color: #63707e;
    border: 2px solid gray;
    padding: 5px;
    float: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    
}
.welcome2  {
    color: #63707e;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f2f6f5;
}
header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    color: #93b5b3;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 15px;
    float: left;
    padding: 5px 7;
    margin-top: 20px;
}

nav{
    float: right;
}
nav ul{
    margin: 0px;
    padding: 0 4px 0 ;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}
nav a {
    color: #63707e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover {
    color: #f2f6f5;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: 63707e;

    position: absolute;
    top: 0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}
.login {
    background-color: #f2f6f5;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;
}