html{ 
    background-color: pink;
}

.event{
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.my_events{
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
