html{ 
    background-color: #000000;

}
body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
}
.band_img{
    height: 40%;
    width: 35%;
    position: relative;
    float: right;
    margin-left: 30px;
}
.top_img{
    position: relative;
    margin-left: 0;
    height: 20%;
    width: 100%;
}
h3{
    color: #7b338d;
    font-family: 'Varela Round', sans-serif;

}
h2{
    color: #9452a5;
    font-weight: bolder;

}

.event{
    color: white;
    border-radius: 25px;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;
    transition: transform .2s;
}
.event:hover {
    transform: scale(1.01);
    background-color: #0f0e0f;
}
.my_events{
    color: white;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;
    transition: transform .2s;
}
.my_events:hover {
    transform: scale(1.01);
    background-color: #0f0e0f;
}
.welcome  {
    background-color: #000000;
    color: #63707e;
    border-radius: 25px;
    padding: 5px;
    float: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    transition: transform .2s;
}
.welcome:hover {
    transform: scale(1.01);
    background-color: #0f0e0f;
}
.welcome2  {
    color: #63707e;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #000000;
}
header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    color: #701b6c;
    font-family: 'Nova Round', cursive;
    font-size: 18px;
    float: left;
    padding: 5px 7;
    margin-top: 20px;
}

nav{
    float: right;
}
nav ul{
    margin: 0px;
    padding: 0 4px 0 ;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}
nav a {
    color: #63707e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
a{
    color: #63707e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
 a:hover {
    color: #966788;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: 63707e;

    position: absolute;
    top: 0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}
.login {
    color: white;
    background-color: #000000;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;
}
.signup {
    color: white;
    background-color: #000000;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;
}
.new_event {
    color: white;
    background-color: #000000;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;
}
.edit_event {
    background-color: #000000;
    border: 2px solid rgb(41, 20, 33);
    border-radius: 5px;
    padding: 5px;
    float: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 5px;
}
.button_{
    background-color: black;
    border: none;
    color: #63707e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    cursor: pointer;
}

 .button_:hover {
    color: #966788;}

hr{
    width: 50%;
    border-color: #727172;
}
#username, #password {
    background-color: #63707e;
    border: 0;
    border-radius: 5px;
    font-family: inherit;
}

input:focus {
  outline: none;
  background-color: #a793a1;
  border: 0;

}
.edit-delete{
    position: relative;
}

.button_, delete{
    position: absolute;
    top: 53%;
    left: 6%;

}

