<form action="/events" method="post">
<br><label for="artist">Artist:</label>    
<input type="text" id="artist" name="artist">
<br><label for="date">Date:</label>  
<input type="date" id="date" name="date">
<br><label for="venue">Venue:</label>    
<input type="text" id="venue" name="venue">
<br><label for="location">Location:</label>  
<input type="text" id="location" name="location">
<br><input type="submit" value="Submit">
</form>