<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Nova+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="http://localhost:9393/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Concert Collector</title> 
</head>
<body>
<header>
<img class="top_img" src='https://i.imgur.com/dInZLcH.jpg'>

    <div class="container">  
    <div class="nav-container">      
    <nav>
        <ul>
        <% if logged_in? %>
        <li><span class="logo">Concert Collector</span></li>

                 <li><a href="/events">Home</a></li>
                 <li><a href="/events/my_events">My Concerts</a></li>
                 <li><a href="/events/new">Add New Concert</a></li>
                 <li><form action="/logout" method="post" class="logout">
                <li> <input type="hidden" class="logout-button" name="_method" value="delete">
                 <input type="submit" class="logout-button" value="Logout"></li>
                 </form><% end %> </ul> 
    </nav>
    </div>
    </div>
    </header>

        <div class="page_content">
             <%= yield %>
        </div>
    </body>
</html>
