<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Concert Collector</title> 
</head>
<body>
<header>
    <div class="container">
    <h1 class="logo">Concert Collector</h1>
    <nav>
        <ul>
        <% if logged_in? %>
                 <% end %>
                 <a href="/events">Home</a></li>
                 <li><a href="events/my_events">My Concerts</a></li>
                 <li><a href="events/new">Add New Concert</a></li>
                 <li><form action="/logout" method="post" class="logout">
                 <input type="hidden" name="_method" value="delete">
                 <input type="submit" value="Logout">
                 </form> </ul>
    </nav>
    </div>
    </header>

        <div class="page_content">
             <%= yield %>
        </div>
    </body>
</html>
