<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title> 
     <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<header>
    <div class="container">
    <h1 class="logo">Concert Collector</h1>
    <nav>
        <ul>
            <li><% if logged_in? %>
          <a href="/events">Home</a> <% end %>

            
            <li><a href="events/my_events">User Events</a></li>
        </ul>
        <% end %>
    </nav>

<form action="/logout" method="post" class="logout">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
    </form>
    </div>

    <%= yield %>

</body>
</html>
